.navbar.navbar-inverse.transparent.navbar-default {
    background-color: rgba(0,0,0,0.5);
}

.navbar.navbar-inverse.transparent.navbar-default:hover {
    background-color: rgba(0,0,0,1);
}

#header {
  color: white !important;
}

.navbar-brand {
  font-family: Flamenco;
}

.glyphicon-shopping-cart {
  color: blue;
}
/*defaul navabr options for every page*/
.img {
	height: 200px;
	width: 200px;
}

.btn-success {
	border-radius: 0px !important;
	text-decoration: none !important;
	border-color: white !important;
	font-size: 13px !important;
}

#checkoutBtn {
	text-align: center;
}

.price {
	text-align: center;
}

footer {
  display: block !important;
}

.footer {
  padding: 70px !important;
  font-size: 14px !important;
  border-top-width: 1px !important;
  border-top-style: solid !important;
  border-top-color: rgb(238, 238, 238) !important;
  text-align: center !important;
  line-height: 3px !important;
}
/*default footer formating*/
.dropdown-item {
  width: 250px; 
}
