.center {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
}

#shopNow{
  border-radius: 0px;
  color: #505050;
  text-decoration: none;
  border-color: white;
  font-size: 12px;
  margin-top: 10px;
  margin-right: 20px;
  line-height: 30px;
}