<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
  <link rel='stylesheet' href='/style/login.css'>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  <script src="https://checkout.stripe.com/checkout.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
</head>

<body>
<div>
  <nav class="navbar navbar-inverse transparent navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" id="header">A U R O R A</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" >
      <li class="dropdown">
        <a href="#" id="header" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Men<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/inventory">New Arrivals</a></li>
          <li><a href="/inventory">Tops</a></li>
          <li><a href="/inventory">Bottoms</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/inventory">Accessories</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#"><strong>SALE ITEMS!</strong></a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#" id="header" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Women<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/inventory">New Arrivals</a></li>
          <li><a href="/inventory">Tops</a></li>
          <li><a href="/inventory">Bottoms</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/inventory">Accessories</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#"><strong>SALE ITEMS!</strong></a></li>
        </ul>
      </li>
      <li><a href="#" id="header">About Us</a></li>
      <li><a href="#" id="header">Visit Us</a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" id="header" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cart<span class="caret" aria-hidden="true"></span></a>
      <ul class="dropdown-menu">
        <li class="dropdown-item"></li>
            <h4><li id="cartPrice"></li></h4>
            <li role="separator" class="divider"></li>
            <li id="checkoutBtn"><button onclick="checkout()" class="btn btn-success">Checkout</button></li>
      </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" id="header" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/login">Returning Customer?</a></li>
        <li><a href="register">New Customer?</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Login via Facebook</a></li>
      </ul>
      </li>
    </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
</div>
<!-- <div>
  <main role="main" class="template_main">
    <div class="template_content">
      <div class="account_form">
        <h1 class="signIn">Sign In</h1>
        <div class="account-form_form">
          <form id="login" method="post" class="login_form" name="form"></form>
        </div>
      </div>
    </div>
    ::after
  </main>
</div> -->
<div class="container">
<br><br><br><br>
  <h2>Sign-In</h2>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-2">
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-2">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>